.shope-container {
    display: grid;
    grid-template-columns: 10fr 3fr;
}

.selected-container {
    background-color: antiquewhite;
    min-height: 300px;
    max-height: 600px;
    border-radius: 30px;
    position: sticky;
    top: 0;
}

@media screen and (max-width: 992px) {
    .shope-container {
        grid-template-columns: 10fr 5fr;
    }
}
@media screen and (max-width: 766px) {
    .shope-container {
        grid-template-columns: 1fr 1fr;
    }
}
