body {
    margin: 0;
    font-family: 'Balsamiq Sans', cursive;
    font-family: 'Chewy', cursive;
    font-family: 'Oswald', sans-serif;
    font-family: 'Prompt', sans-serif;
    font-family: 'Roboto Serif', serif;
    font-family: 'Work Sans', sans-serif;
    background-color: lightgray;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
